@using Foosball.Controllers
@using Foosball.Utilities
@model List<Match>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile">
    <div class="results">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-left">Date</th>
                <th class="text-right">Winning Team</th>
                <th class="text-center">Score</th>
                <th class="text-left">Losing Team</th>
                <th class="text-right">Goal Difference</th>
            </tr>
            </thead>
            @foreach (Match match in Model)
            {
                <tr>
                    <td>@match.Date.ToSpecialString()</td>
                    <td class="text-right">
                        <span>@match.Team1.Players[0]</span>
                        <span>&amp;</span>
                        <span>@match.Team1.Players[1]</span>
                    </td>
                    <td class="text-center bold">@match.Score</td>
                    <td class="text-left">
                        <span>@match.Team2.Players[0]</span>
                        <span>&amp;</span>
                        <span>@match.Team2.Players[1]</span>
                    </td>
                    <td class="text-right">@match.GoalDifference</td>
                </tr>
            }
        </table>
    </div>
</div>